body {
  font-family: "Roboto", serif;
  min-width: 800px;
}

#content {
  display: flex;
  flex-direction: row;
}

#todoNav {
  display: flex;
  flex-direction: column;
  border: solid 4px rgb(117, 117, 117);
  border-radius: 8px;
  width: 30%;
  align-items: flex-start;
  max-width: 500px;
}

#byDate {
  border-bottom: solid 2px grey;
  border-radius: 9px;
}

#todoNav h4 {
  padding: 0 10%;
}

ul{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 10%;
}

#byDate li {
  display: flex;
  list-style-type: none;
}

button {
  margin: 20px auto;
  border: none;
  background-color: darkgray;
  border-radius: 5px;
  padding: 10px 10px;
}

form {
  display: none;
  flex-direction: column;
  border: 2px green solid;
  margin: 8px auto;
  padding: 5px;
}

form#submit{
  width: 20px;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
  border-radius: 25px;
  margin: 10px;
}

.todoItem p {
  padding: 0px 12px;
}

.todoItem div p{
  padding: 0px;
  margin: 0px;
}

.todoItem div {
  padding: 10px;
  width: 60%
}

